@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Ubuntu:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 500;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 31%, rgba(84, 50, 2, 1) 100%);
    width: 100%;
}

.container {
    width:370px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .img {
    padding-right: 20px;
}

header h1 {
    font-size: 25px;
}

.modal {
    position: fixed;
    left: 0;
    top: -260px;
    width: 62vw;
    height: 100vh;
    z-index: 5;
    display: grid;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 100%;
    padding: 35px;
    z-index: 4;
    background-color: #8b8b8b;
    box-shadow: 0px 0px 35px 9px rgba(34, 60, 80, 0.15);
    transform: translateX(-600px);
    transition: transform .4s;
    color: #161616;
    text-align: center;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.modal__close {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 40px;
    color: #fff;
    background: #cc7a00;
    margin-top: 20px;
}

nav {
    font-size: 20px;
    line-height: 170%;
}