@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Ubuntu:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 500;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 31%, rgba(84, 50, 2, 1) 100%);
    width: 100%;
}

.container {
    width:370px;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .img {
    padding-right: 20px;
}

header h1 {
    font-size: 25px;
}

.modal {
    position: fixed;
    left: 0;
    top: -200px;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 370px;
    padding: 45px;
    z-index: 4;
    background-color: #8b8b8b;
    border-radius: 15px;
    margin: 30px 15px;
    box-shadow: 0px 0px 35px 9px rgba(34, 60, 80, 0.15);
    transform: scale(0);
    transition: transform .5s;
    color: #161616;
    text-align: center;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__close img {
    transition: transform 350ms;
}


.modal__close:hover img {
    transform: scale(1.3);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

nav {
    font-size: 25px;
}