@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&family=Ubuntu:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 500;
    color: #fff;
    font-size: 16px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
}

.wrapper {
    background: linear-gradient(180deg,rgb(7, 0, 44) 31%, rgb(12, 0, 119) 100%);
    width: 100%;
}

.container {
    width: 1600px;
    margin: 0 auto;
}
/*навигация*/
header {
    padding: 50px 0;
}

header span img {
    margin-top: -30px;
}

header nav {
    float: right;
    width: 50%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav ul li {
    display: inline-block;
}

header nav ul li a {
    color: #fff;
}

header nav ul li.active::after {
    content: '';
    display: block;
    width: 40px;
    height: 3px;
    background: #0066ff;
    border-radius: 10px;
}

header nav ul li:not(.btn):not(.active) a:hover {
    border-bottom: 3px solid #0066ff;
    transition: all 90ms ease;
}

header nav ul li.btn a {
    background: #341eff;
    padding: 9px 17px;
    border-radius: 9px;
    transition: all 350ms ease;
}

header nav ul li.btn a:hover {
    background: #0066ff;
}
/*Новое обновление*/
.hero {
    padding-bottom: 100px;
    position: relative;
}

.hero__info {
    width: 530px;
    padding-top: 70px;
}

.hero__info h2 {
    color: #f79f2c;
    font-size: 20px;
    font-weight: 700;
}

.hero__info h1 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.hero__info p {
    font-weight: 500;
    line-height: 170%;
    margin: 15px 0;
    color: #fff;
    text-align: left;
}

.hero__info .btn {
    background: #ff5e00;
    color: #fff;
    border-radius: 50px;
    padding: 13px 23px;
    border: 0;
    transition: all 350ms ease;
    font-size: 18px;
}

.hero__info .btn:hover {
    background: #ca0505;
    cursor: pointer;
    transform: scale(1.1);
}

.hero video {
    position: absolute;
    top: 40px;
    right: 50px;
    width: 45%;
    border-radius: 15px;
}
/*Популярные версии*/
.trending {
    padding-top: 50px;
}

.trending h3 {
    font-weight: 700;
    font-size: 31px;
    color: #fff;
}

.games a {
    text-decoration: none;
    padding: 3px 7px;
    color: #ffffff;
}

.trending .games {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.trending .games span {
    display: block;
    text-align: center;
    margin-top: 10px;
}
/*Цитата*/
.big-text p {
    color: #fff;
    padding: 50px 0;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    width: 800px;
}
/*Спидранеры*/


.features h3, p {
    margin-top: 20px;
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
}

.features h3 {
    font-size: 30px;
}

.features p {
    font-size: 20px;
}

.features .info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.features .info .block {
    text-align: center;
    width: 20%;
    margin: 30px 2%;
}

.features .info .block img {
    margin-bottom: 15px;
    transition: all 350ms ease
}

.features .info .block img:not(.img1):hover {
    scale: calc(1.5);
}
/*Версии*/

.alpha {
    margin-left: 700px;
    border: 3px solid #030169;
    background-color: #0300ac;
    border-radius: 20px;
    padding: 10px 40px;
    width: 100px;
}

/*Модальное окно*/
.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, .3);
    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 900px;
    padding: 45px;
    z-index: 4;
    background-color: #8b8b8b;
    border-radius: 10px;
    margin: 30px 15px;
    box-shadow: 0px 0px 35px 9px rgba(34, 60, 80, 0.15);
    transform: scale(0);
    transition: transform .8s;
    color: #161616;
    text-align: center;
}

.modal__close {
    position: absolute;
    top: 8px;
    right: 8px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.modal__close img {
    transition: transform 350ms;
}


.modal__close:hover img {
    transform: scale(1.3);
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.modal__box .img3 {
    left: -100px;
    border-radius: 15px;
}

.modal__box .img2 {
    left: 100px;
    margin-bottom: 40px;
    margin-right: 20px;
    border-radius: 15px;
}

/*История создания*/

.history h1 {
    text-align: center;
    font-size: 50px;
}

.history__p {
    padding-left: 170px;
    padding-right: 170px;
    padding-bottom: 30px;
    text-align: left;
    line-height: 170%;
    font-size: 20px;
}

